<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.book.dao.BookDAO">
	<insert id="insertBook">
		insert into book 
			(bo_isbn, bo_ca_code, bo_thum, bo_title, bo_publisher, bo_date,bo_price, bo_sale_price, 
			bo_ea, bo_intro, bo_index,bo_author,bo_translator, bo_detail_page, bo_detail_size, 
			bo_detail_weight) 
		values
			(#{bo.bo_isbn}, #{bo.bo_ca_code}, #{bo.bo_thum}, #{bo.bo_title}, #{bo.bo_publisher}, #{bo.bo_date},
			#{bo.bo_price}, #{bo.bo_sale_price}, #{bo.bo_ea}, #{bo.bo_intro},#{bo.bo_index}, #{bo.bo_author}, #{bo.bo_translator},
			#{bo.bo_detail_page},#{bo.bo_detail_size},#{bo.bo_detail_weight})
	</insert>
	<select id="selectBook" resultType="kr.green.book.vo.BookVO">
			select * from book 
				<if test="cri.searchType == 'all'">
				where (bo_title like concat('%', #{cri.search} ,'%') or bo_author like concat('%',#{cri.search},'%') or bo_publisher like concat('%',#{cri.search},'%'))
				</if>
				<if test="cri.searchType != 'all'">
				where ${cri.searchType} like concat('%',#{cri.search},'%')
				</if>
				order by bo_isbn desc 
				limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectTotalCount" resultType="int">
			select count(*) from book 
				<if test="cri.searchType == 'all'">
				where (bo_title like concat('%', #{cri.search} ,'%') or bo_author like concat('%',#{cri.search},'%') or bo_publisher like concat('%',#{cri.search},'%'))
				</if>
				<if test="cri.searchType != 'all'">
				where ${cri.searchType} like concat('%',#{cri.search},'%')
				</if>
			
	</select>
	<select id="selectBookIsbn" resultType="kr.green.book.vo.BookVO">
			select * from book
			where bo_isbn = #{bo_isbn};
	</select>
	<select id="selectOrderBook" resultType="kr.green.book.vo.BookVO">
		select * from book
		where bo_isbn = #{bo.bo_isbn};
	</select>
	<insert id="insertBaskitBook">
		insert into basket
		(ba_me_id, ba_bo_isbn, ba_bo_front, ba_bo_title, ba_bo_price, ba_bo_sale_price, ba_ea) 
		values (#{ba.ba_me_id}, #{ba.ba_bo_isbn}, #{ba.ba_bo_front}, #{ba.ba_bo_title}, #{ba.ba_bo_price}, #{ba.ba_bo_sale_price}, #{ba.ba_ea})
	</insert>
	<select id="selectBaskitList" resultType="kr.green.book.vo.BasketVO">
		select * from basket
		where ba_me_id = #{me.me_id};
	</select>
	<update id="updateBasket">
		update basket
		set ba_ea = #{ba.ba_ea}
		where ba_me_id = #{ba.ba_me_id} and ba_bo_isbn = #{ba.ba_bo_isbn}
	</update>
	<delete id="deleteBasket">
		delete from basket
		where ba_me_id = #{ba.ba_me_id} and ba_bo_isbn = #{ba.ba_bo_isbn}
	</delete>
	<select id="selectFindBaskit" resultType="kr.green.book.vo.BasketVO">
		select * from basket
		where ba_me_id = #{ba.ba_me_id} and ba_bo_isbn = #{ba.ba_bo_isbn}
	</select>
	<!--리뷰 등록 쿼리-->
	<!-- book 테이블에서 bo_title을 조회하여 review 테이블에 삽입합니다. -->
	<insert id="reviewInsert">
		insert into review 
		(rv_me_id, rv_review, rv_rating, rv_bo_isbn, rv_title)
		select #{rv.rv_me_id},#{rv.rv_review},#{rv.rv_rating},#{rv.rv_bo_isbn}, bo_title
		from book
		where bo_isbn = #{rv.rv_bo_isbn}
	</insert>
	<select id="selectReviewList" resultType="kr.green.book.vo.ReviewVO"><!--여기서 오류남-->
	select * from review
		where rv_bo_isbn = #{bo_isbn} order by rv_num desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	
	</select>
	<select id="selectTotalCountList" resultType="int">
	select count(*) from review
		where rv_bo_isbn = #{bo_isbn} 
	</select>
	
</mapper>